mat-card-content {
    font-size: 18px;
    text-align: center;
    padding-top:  20px;
    padding-bottom: 20px;
    
    div {
        padding: 5px 0;
    }
}

.add-comment, .edit-comment {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    
    button {
        padding: 2px 30px;
        margin: 2px 5px;
    }
}

mat-expansion-panel {
    border-style: solid;
    border-width: 1px;
    border-color: black;
}

.comments {
    margin-top: 10px;
}